*{
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
    background: aliceblue   ;
}
.container{
    width: 90%;
    min-height: 200px;
    border: 2px solid red;
    margin: auto;
}
input{
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    border: 2px solid grey;
}

label{
    color: teal;
    font-size: 25px;
    padding: 5px;
}
textarea{
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    border: 2px solid grey;    
}
#submit{
    color: black;
    background-color: aqua;
}

.cards{
    width: 80%;
    min-height: 100px;
}

.card{
    width: 60%;
    min-height: 50px;
    margin: 10px;
    padding: 5px;
    border: 1px solid #000;
}

.card>h2{
    color: blueviolet;

}
.card>p{
    margin-left: 15px;
}
